.welcome-avatar {
  height: 164px;
}

.welcome-icon {
  height: 124px;
}

.small-icon {
  height: 64px;
}

.button-icon {
  height: 40px;
}

.search-icon {
  height: 32px;
  margin-top: 3px;
}

.half-colour-bg {
  position: fixed;
  top: 55%;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #dee2e6;
}

#bar-chart {
  margin: 50px auto;
  width: 90% !important;
}

.custom-purple, .custom-purple-btn {
  color: #9370DB;
}

.custom-purple-btn {
  border-color: #9370DB;
}

.purple:hover {
  color: #6f42c1;
}

.custom-purple-btn:hover {
  background-color: #6f42c1;
  color: white;
}

.table-col {
  word-wrap: break-word;
  max-width: 250px;
  min-width: 115px;
}

.form-control {
  display: block !important;
}

@media only screen and (max-width: 991px) {
  .dropdown-item {
    text-align: center;
  }
}
